{% extends "orders/layout.html" %}

{% block title %}
    login
{% endblock %}

{% block main %}
    {{ message }}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <br><br><br><br><br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" id = "user">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" id = "password">
        </div>
        <button class="btn btn-primary" type="submit" id = "loginbutton">Log In</button>
    </form>


    <script>
    document.querySelector('form').onsubmit = function()
    {
        if (!document.querySelector('#user').value)
        {
            alert('username is empty');
            return false;
        }
        else if (!document.querySelector('#password').value)
        {
            alert('password is empty');
            return false;
        }
    }
    </script>

{% endblock %}

