{% extends "orders/layout.html" %}

{% block title %}
    pizza
{% endblock %}

{% block main %}
<table class="table table-bordered table-dark" id = "t8">
    <thead>
      <tr>
        <th scope="col" class = "tablelabel">User Id</th>
        <th scope="col" class = "tablelabel">Group Name</th>
        <th scope="col" class = "tablelabel">Item Name</th>
        <th scope="col" class = "tablelabel">Size</th>
        <th scope="col" class = "tablelabel">Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in orders %}
      <tr>
        <th scope="row">{{ item.user_id }}</th>
        <td>{{ item.groupname }}</td>
        <td>{{ item.itemname }}</td>
        <td>{{ item.size }}</td>
        <td>{{ item.itemprice }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <td>TOTAL PRICE</td>
      <td>{{ summ }}</td>
</table>
{% endblock %}